$themeColor:#FF5733;

.selector-box{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
}
.selector-item{
    height: 60px;
    min-width: 160px;
    padding: 0 25px;
    line-height: 60px;
	color: #808080;
	border-radius: 30px;
	font-size: 28px;
    border-color: #a6a6a6;
    border-width: 2px;
    text-align: center;
    margin-right: 15px;
    margin-top: 10px;
    margin-bottom: 10px;

}